body{
	background-image: url("../img/background_weather.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: black;
	font-weight: 700;
}

h1{
	padding: 20px;
}

.container{
	margin-top: 20px;
	background: rgba(255, 255, 255, .5);
}